body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  margin: 0;
}

header {
  text-align: center;
}

#heading{
  font-family: sans-serif;
  color: white;
  min-height: 100vh;

  padding-top: 2rem;

  /* bg */
  background-color: #000000;
  background-image:url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1874&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero-content {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 15%;
  padding: 4rem;
  border-radius: 7px;
}

#headshot{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 3px solid #ffffff;
}


#sidebar {
  padding: 1rem;
  background-color: #000000ea;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  color: #fff;
}

a {
  color: rgb(67, 192, 51);
  text-decoration: none;
}

#sidebar a {
  color: white;
  text-decoration: none;
  width: 100%;
}
#sidebar a:hover {
  color: rgb(61, 223, 110);
  text-decoration: none;
  width: 100%;
}


footer {
  padding: 1rem;
  background-color: #343330;
  text-align: center;
}

#content {
  width: 80%;
  padding: 1rem;
  margin: 1rem 10vw;

}

.icons{
  width:3rem;
  margin: 0.5rem;
  height: auto;
}

.section {
  padding-top: 3rem;
}
